*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section {
    height: 700px;
    width: 1000px;
}

.caixa1{
    display: flex;
    gap: 20px; /* espaço entre as imagens */ 
    justify-content: center;
    align-items: left;
    margin: 20px auto;
    width: 100;
    flex-direction: column;
    display: flex;
    margin-left: 45px;
    margin-top: -50px;
    position: relative;
    top: -100px;
}

.texto{
    /* text-align: center; */
    font-weight: bold;
    margin-left: 250px;
    position: relative;
    top: -408px;
    /* border: 2px solid black; */
    /* border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
    width: 20%;
    margin-top: 15px; 
    font-size: 18px;
    white-space: nowrap;
}

.imagem-container {
    display: flex;
    gap: 10px; /* Espaço entre as imagens */
}

.imagem {
    text-align: center; 
}

.imagem img{
    width: 45%;
    height: auto;
    position: relative;
    top: -400px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: auto;
    text-align: center;
    
}             

.barba img{
    display: flex;
    position: relative;
    width:25%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: auto;
    text-align: center;
}

.container{
    display: flex;
    gap: 20px;
    background-color: #000000;
    color: white;
    justify-content: left;
    padding: 10px;
    width: 100vw;
    box-sizing: border-box;
    font-weight: bold;
}

.sobre,.servicos{
    width: auto;
    height: auto;
    /* box-sizing: border-box; */
    list-style-type: none;
}

.sobre a, .servicos a{
    color: #ffffff;
    text-decoration: none;
}

/* #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
} */


/* header, nav {
    margin: 0;
    padding: 0;
    width: 100%;
} */

/* .sobre li, .servicos li{
    padding: 10px;
} */

/* .agendamento{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
}

.agendamento h2{
    margin-bottom: 10px;
}

.agendamento form div{
    margin-bottom: 10px;
}

.agendamento input, .agendamento select{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.agendamento button{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
} */
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#inicial{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /*define 100% da altura*/
    width: 100vw; /*define 100% da largura*/
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    /* border: 1px solid black; */
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

input[type="button"] {
    display: block;
    margin: 100px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 15px;
    background-color: gray;
    color: black;
    font-weight: bold;
    z-index: 1;
    

}

/* input[type="button"] {
    display: block;
    padding: 10px 10px;
    margin: 100px auto;
    border-radius: 8px;

} */

div.card {
  width: 30%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgb(29, 28, 28), 0 6px 20px 0 rgba(0, 0, 0, 0.425);
  margin-bottom: 25px;
  /* position:relative; */
  top: 100px;
  font-size: 18px;
  
}

div.caixa {
  text-align: center;
  padding: 5px 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.barbearia{
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url('/public/img/barbearia-1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    height: 820px;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

#sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    font-size: 22px;
}

#borda{
    /* padding: 50px; */
    padding: 100px;
    text-align: center;
    justify-content: center;
    width: 100%;
    /* background-color: #8d8989; */
    background-color: black;
    color: white;
    /* border: 1px solid black; */
    width: 100vw;
    right: 0;
    left: 0;
}
section#sobre{
    overflow: hidden;
    margin: 0;
}
.container-sobre{
    justify-content: center;
    text-align: justify;
    font-size: 1.2rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

#servicos{
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top: -300px;
}

.container1{
    display: flex;
    justify-content: center;
    gap: 80px; /* espaçamento entre as imagens */
    transform: translateY(100px);
    perspective: 800px;
}

.card{
    padding: 8px;
    border-radius: 5px;
    /* transform: translateY(-650px); */
}

.card:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    transform: translateZ(70px);
} 

.titsec {
    font-size: 2rem;
}

/* .imgsobre{
    padding: 15px;
    padding-bottom: 0px;
    position: absolute;
    top: 820px;
    width: 40%;
    width: 50%;
    height: 65%;
    background-image: linear-gradient(rgb(128, 128, 128),rgba(0, 0, 0, 0.925));
} */
.img1 img{
    width: 24%;
    height: auto;
    transform: translate(70%, 0%); /*MOVE A IMAGEM PARA CIMA E PARA A DIREITA*/
    border-radius: 5px;
}

.img2 img{
    width: 22%;
    height: auto;
    border-radius: 5px;
    transform: translate(172%, -18%); 
    
}

.img3 img{
    border-radius: 5px;
    width: 45%;
    transform: translate(94%, -214%); 
    height: auto;
}

.logo {
    background-color: black;
    height: 200px;
}